{% extends 'navigation.html' %}
{% block body %}
<div class="container mt-5">
    <h3 class="text-center text-primary font-weight-bold">Add Member</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"><strong>Name</strong></label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="contact"><strong>Contact</strong></label>
            <input type="tel" name="contact" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="emailid"><strong>Email Id</strong></label>
            <input type="email" name="emailid" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="age"><strong>Age</strong></label>
            <input type="text" name="age" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="gender"><strong>Gender</strong></label><br>
            <div>
                <input type="radio" name="gender" value="male" required> Male
                <input type="radio" name="gender" value="female"> Female
            </div>
        </div>
        <div class="form-group">
            <label for="plan"><strong>Plan Name</strong></label>
            <select name="plan" class="form-control" required>
                {% for i in plan %}
                    <option value="{{ i.name }}">{{ i.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="joindate"><strong>Join Date</strong></label>
            <input type="date" name="joindate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="expdate"><strong>Expiry Date</strong></label>
            <input type="date" name="expdate" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="initialamount"><strong>Initial Amount</strong></label>
            <input type="text" name="initialamount" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% if error == "no" %}
<script>
    alert('Record Inserted Successfully');
    window.location = "{% url 'view_member' %}";
</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endif %}
{% endblock %}

{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-white">Copyright &copy; 2020 All rights reserved | Made with <i class="fa fa-heart"></i>
                    by Pawan Kumar</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
